EXPO_PUBLIC_API_BASE_URL=https://cbk-4dmf.onrender.com

# Replace these with your real AdMob ad unit IDs before production build.
# Keep test IDs in development builds only.
EXPO_PUBLIC_ADMOB_BANNER_ID=ca-app-pub-7501738870401219/2488455783
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ID=ca-app-pub-7501738870401219/3436360931
